
.task-filter{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.task-filter button{
    width: 30%;
    font-size: 16px;
    height: 40px;
    background-color: #bbe;
    cursor: pointer;
    border-radius: 2px;
}

.task-filter button:hover{
    background-color: #bae;
}


.btn-active{
    border: 2px solid rgb(8, 8, 8);
}